.card {
  margin: 10px;
  text-align: center;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover::before,
.card:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 5px solid black;
  border-radius: 20px;
  pointer-events: none;
}

.card:hover::before {
  border-bottom: none;
}

.card:hover::after {
  border-top: none;
}
